
<div class="center hero-unit">
	<h1>Public Key:</h1>

<div class="alert alert-info">
-----BEGIN PGP PUBLIC KEY BLOCK-----<br />
Version: GnuPG/MacGPG2 v2.0.19 (Darwin)<br />

mQENBFHMdCIBCADSmiDL+LuabxbjwzcmVa14/VUBM0hVhBC3PIv+d9OQsZD6eaGn
EmDIcMMbzw4TTRIoOfZVmmi/s8qkoH01YbiQgJUMDuHvDIi4poA9taOiDUoXognC
EoTImXzYgvLCesOLtl9d05g52kIhnNwR3NjtWVWb25BiLZqqhdJToro0Mo+M3HLP
VL7Eq6XhQUE3GP8xAcMOg3zcfRN+h0TD7l3IW9/y8ZlVzrh+zKpm77QuIaSfXb7V
NqTZo18fnr3El4JyfvOoA9KenniTiNfFvSRkDD5nDgV6PMEZntcIaxL8hmCT6TnX
dbAgSXAlaYl+/v/7BlOU1MJr+qjtr4xCrr7HABEBAAG0K0NocmlzdGlhbiBXZW56
ZWwgPGNocmlzdGlhbi0td2VuemVsQHdlYi5kZT6JAT0EEwEKACcFAlHMdCICGy8F
CQeGH4AFCwkIBwMFFQoJCAsFFgIDAQACHgECF4AACgkQovAr8sphB42u1Qf+N0Fh
FP0Zn5UUv9YPfgMGn6QvNvCq+8d14AWmP3oJC4nOccB+toFmgw7wqUT7TdSz/rWV
fvMJe5V1NdEQhMbJkMwQre5G9O9SD/KngtS0x4jPrnnoTR4Y7II6pgXWsGjn44Ml
Cx2eeYyim62hHiwLbZh4A0CgPRQ0VWCfuKZxk2fozC/Ix3alKSZZ6qg5JxH3V1OW
4jlm4A5DUJPUF+TCvCvPbjxr351n4pamlAUUhCEcQ/YOJeroVLHJaMFh6vfI8Gpw
ecFyG9orwLurgAGcujgSYkwY2AzeoeXEOUMtuZg261uFZDvyqV26vSsqzNmwD56y
fRtVYYnt0X4+MTe6LbkBDQRRzHQiAQgAs1Q2ncvcbSEXhtcpU18Khp+jkqq0em+3
qfur1kMa+44zRDWF6HMtOiWoHwdcaczbgZglJvpSR4EEaVESUAn/J+xArd9kKvJl
vt8o2EWlb3KxX7bvbc7io0n2FOXns+VPMaKYe207Il3dhmDM79PVTGSU0ObISgrI
ltlhA3TvslcMMPqVTKJTo9aVkCN90GhlQx5NpzI5ZLoXAuCX2eaOE0uCb33U+tHn
PphtxPB8feavShHvMK36DceTimjdUR0IWzhTnaUcIXyt+BNDtbGG/9EgatfLnHbt
CxF3E15fTA29ZkZKHJoq1vAbPW+3ONjG/6T4nPBsFPy4B9j4HW2EWwARAQABiQJE
BBgBCgAPBQJRzHQiAhsuBQkHhh+AASkJEKLwK/LKYQeNwF0gBBkBCgAGBQJRzHQi
AAoJELXW7U3LKTlCUI8H/2oSS8BvB8pG19TTmzuWs+nLybQk6PrbtwYdBKvIhlDg
JVit2XAS5PUur00i8cca4/MSRnQEYmIoGWTeoywzbWzI7FfMcDP61gjGIunv6FZh
s0zW2Wg6Q+fkl00nbsECcuYvPqKEFMN9jsbmvhwzoL00B6IgSEFn6Mm+UoCPbgtq
IGnO44zoj93i3ZU/e+JzYfCYgOB25eiHOiVfS/Q77cRJnND9Ku/SF3HhRzJus7+4
+T4V/3jFRajW104BGxZJotXZnrQwcaeZMXV4SPu7hQ6OpslzBAPTam1+MM/thgti
Ybkoblm2YQ+1ZY+hg04La5OHwNDnJmVdsNtTLSVO0Hlaewf+NlEtgL18bNY0zfou
ckh7TBfqaSPbWUXapJJqKq7EWGGUeRYRV22ZeHKwAgshfRL5aAMn/ZCd9dcJKaZo
0GTTpetPvVoqXaU4I7iIkkH3REZHBKPcdg//V7i3NIhI5uIK2tRElPruat10JFCK
UfxUXscI55yCNJLFm1sWO5j0TbnvrY5nvQZ9FqVBoGKOodbMayepYSMSDIoMSimG
b7VNCvvKf7rDQfURxmAKODhXw0owqxleurWzbYP9uYV8js7jimlmTrAIBmxPcBxq
vvhkel+k9GvJDvPa+QzYo1Q1mMFKlQ5SHWZICtXhSO0lVOPkNq2pSK3JypuLH9ry<br />
NZuiEg==<br />
=RoDZ<br />
-----END PGP PUBLIC KEY BLOCK-----
</div>

	<%= link_to "Download", '#', class: "btn btn-large btn-primary" %>

</div>
